---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div
    class="absolute top-7 left-0 w-full flex justify-center gap-8 items-center h-28 backdrop-blur-md bg-gray-800/70"
  >
    {
      tags.map((tag) => (
        <a
          class="text-gray-300 px-5 py-4 bg-gray-600 uppercase rounded-md border-blue-700 hover:border-4 hover:bg-gray-500 hover:shadow-lg"
          href={`/tags/${tag}`}
        >
          {tag}
        </a>
      ))
    }
    <div class="absolute right-5 text-5xl font-extralight text-gray-300">+</div>
  </div>
</BaseLayout>
