---
import IconDesktop from "../components/IconDesktop.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Portfolio";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="grid grid-rows-6 grid-flow-col gap-5 place-content-start">
    {
      allPosts.map((post) => (
        <IconDesktop
          url={post.url}
          title={post.frontmatter.title}
          image={post.frontmatter.image}
        />
      ))
    }
  </div>
</BaseLayout>
