---
import Social from "./Social.astro";
---

<style>
  .social-media {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <hr />
  <div class="social-media">
    <Social platform="twitter" username="leowg" />
    <Social platform="github" username="lauroguedes" />
    <Social platform="youtube" username="leowgweb" />
  </div>
</footer>
