---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import MainMenu from "./Vue/MainMenu.vue";

const links = [
  { href: "/account-settings", label: "Account settings" },
  { href: "/support", label: "Support" },
  { href: "/license", label: "License" },
  { href: "/sign-out", label: "Sign out" },
];
---

<header>
  <nav
    class="flex justify-between items-center px-3 text-sm bg-gray-800 text-gray-200"
  >
    <MainMenu client:load links={links} />
    <div>right nav</div>
  </nav>
</header>
