---
import MainMenu from "./Vue/MainMenu.vue";
import SettingsMenu from "./Vue/SettingsMenu.vue";
---

<header>
  <nav
    class="flex justify-between items-center px-2 text-sm bg-gray-800 text-gray-200"
  >
    <MainMenu client:load />
    <SettingsMenu client:load />
  </nav>
</header>
