<div
  class="outline outline-offset-0 outline-gray-600 outline-1 flex space-x-3 p-2 backdrop-blur-sm bg-gray-700/70 rounded-xl border border-gray-400/60 divide-x divide-gray-400/70"
>
  <div class="flex justify-between items-center gap-3">
    <slot name="social-links" />
  </div>
  <div class="flex justify-between items-center gap-3 ps-3">
    <slot name="external-links" />
  </div>
</div>
