<nav class="flex space-x-3 p-2 divide-x divide-gray-400/70 wrap-menus">
  <div class="flex justify-between items-center gap-3">
    <slot name="social-links" />
  </div>
  <div class="flex justify-between items-center gap-3 ps-3">
    <slot name="external-links" />
  </div>
</nav>
