<div class="flex justify-start space-x-2">
  <div
    class="w-3 h-3 bg-red-500 cursor-default active:opacity-90 rounded-full hover:before:content-['x'] text-[10px] text-red-800 flex items-center justify-center"
  >
  </div>
  <div
    class="w-3 h-3 bg-yellow-500 cursor-default active:opacity-90 rounded-full hover:before:content-['-'] text-[10px] text-yellow-800 flex items-center justify-center"
  >
  </div>
  <div
    class="w-3 h-3 bg-green-500 cursor-default active:opacity-90 rounded-full hover:before:content-['↗'] text-[10px] text-green-800 flex items-center justify-center"
  >
  </div>
</div>
