---
import "../assets/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import wallpaper from "../images/desktop_macos.jpg";
import wallpaper_dark from "../images/desktop_macos_dark.jpg";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <!-- <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer /> -->
    <div
      class="flex flex-col h-screen relative bg-cover bg-center"
      style={`background-image: url(${wallpaper})`}
    >
      <Header />
      <main class="h-full overflow-auto p-4">
        <slot />
      </main>
      <Footer />
    </div>
    <!-- <script>
      import "../scripts/menu.js";
    </script> -->
  </body>
</html>
